/* CUSTOM CSS - MUNAQOSYAH DIGITAL AL-HIKMAH ACADEMY */

body {
    font-family: 'Inter', sans-serif;
    animation: fadeIn 0.4s ease-out forwards;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
.font-headline {
    font-family: 'Manrope', sans-serif;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animasi Entri Aplikasi */
@keyframes logo-entry {
    0% {
        transform: scale(0.5) rotate(-30deg);
        opacity: 0;
    }

    60% {
        transform: scale(1.1) rotate(10deg);
        opacity: 1;
    }

    80% {
        transform: scale(0.95) rotate(-5deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

@keyframes content-entry {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.loader-logo-animate {
    animation: logo-entry 0.7s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.loader-text-animate,
.loader-spinner-animate,
.form-entry-animate {
    animation: content-entry 0.6s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
    opacity: 0;
}

.loader-text-animate {
    animation-delay: 0.2s;
}

.loader-spinner-animate {
    animation-delay: 0.3s;
}

.form-entry-animate {
    animation-delay: 0.4s;
}

.animate-view {
    animation: fadeIn 0.4s ease-out forwards;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
}

/* Utility for dynamic icons */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Printing logic */
@media print {
    .no-print {
        display: none !important;
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Smooth Dropdown Animation */
.dropdown-menu {
    transform-origin: top right;
    transition: all 0.2s ease-out;
}

.dropdown-hidden {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

.dropdown-visible {
    opacity: 1;
    transform: scale(1);
}