/* CUSTOM CSS - MUNAQOSYAH DIGITAL AL-HIKMAH ACADEMY */

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
.font-headline {
    font-family: 'Manrope', sans-serif;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-view {
    animation: fadeIn 0.4s ease-out forwards;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
}

/* Utility for dynamic icons */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Printing logic */
@media print {
    .no-print {
        display: none !important;
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Smooth Dropdown Animation */
.dropdown-menu {
    transform-origin: top right;
    transition: all 0.2s ease-out;
}

.dropdown-hidden {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

.dropdown-visible {
    opacity: 1;
    transform: scale(1);
}